* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #BCBCBC;
  --medium-gray: #888;
  --dark-gray: #171D1F;

  --highlight-green: #81FE88;
  --normal-green: #BFFFC3;

  --img-shadow: 0 16px 24px rgba(0, 0, 0, 0.24);
}

html {
  background: linear-gradient(180deg, #0E1112 0%, #00090E 100%);
  background-repeat: no-repeat;
}

.app-container {
  margin: 56px auto;
  max-width: 1200px;

  display: flex;
  gap: 28px;
}